

@{
    Layout = "~/Views/Shared/_Layout_Header_Nav.cshtml";
    ViewBag.Title = "Index";
}
<style>

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

            .pagination li a:hover {
                color: #666;
            }

        .pagination li.active a, .pagination li.active a.page-link {
            background: #03A9F4;
        }

            .pagination li.active a:hover {
                background: #0397d6;
            }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }
</style>

@using CakeShop.Models;
@{
    List<UserDetail> list = ViewData["ListAccount"] as List<UserDetail>;
}

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    @{
                        foreach (var u in list)
                        {
                            if (u.Account.type != 1)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="blog__item">
                                        <div class="blog__item__pic">
                                            <img src="@Url.Content("~/Content/img/ava/"+ u.imageLink)" alt="">
                                        </div>
                                        <div class="blog__item__text">
                                            <h5><a href="@Url.Action("DetailsForAdmin","Account", new { id = u.username})">@u.fullname</a></h5>
                                            @{string type = (u.Account.type == 2) ? "Employee" : (u.Account.type == 3) ? "Customer": "Customer";}
                                            <h5>@type</h5>
                                            <a href="@Url.Action("DetailsForAdmin","Account", new { id = u.username})" class="blog__btn">READ MORE</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="col-lg-12">
                        <div class="clearfix">
                            <ul class="pagination">
                                @{
                                    string style = "";
                                    for (int i = 1; i < Convert.ToInt32(ViewData["numberPage"]) + 1; i++)
                                    {
                                        style = (i == Convert.ToInt32(ViewData["index"])) ? " background: #7fad39; border-color: #7fad39; color: #ffffff; font-size: 30px;" : "";
                                        <li class="page-item"><a href="@Url.Action("Index", "Account", new { index = i })" style="@style font-size: 30px;">@i</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
