
@{
    Layout = "~/Views/Shared/_Layout_Header_Nav.cshtml";
    ViewBag.Title = "DetailsForAdmin";
}
@using CakeShop.Models;

@{
    ProductDetail p = ViewData["ProductDetail"] as ProductDetail;
    List<ProductCategory> pc = ViewData["ProductCategoryList"] as List<ProductCategory>;
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/Content/img/download.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Triple Sing Shop</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb Section End -->
<!-- Product Details Section Begin -->
@*<p style="font-size: 25px; color:red; font-weight:bolder;">@{Request.Params["error"] == null ? "" : Request.Params["error"]}</p>*@
<section class="product-details spad"style="background-color: #FE9A2E;">
    <div class="container">
        <div class="row">
            <form action="../../Product/Edit" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="productID" value="@p.productID" />
                <div class="col-lg-6 col-md-6" style="display:inline-block; float:left;">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large" id="user_img"
                                 src="@Url.Content("~/Content/img/product/details/"+p.imageLink)" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" style="display:inline-block; float:right;">
                    <div class="product__details__text">
                        <h6><input type="text" value="@p.Product.productName" name="productName" style="font-size:50px; font-weight: bold; margin-bottom:20px; border: 1px dotted lightgray;" required /></h6>
                        <div class="product__details__price">$ <input type="text" pattern="[0-9]+([,][0-9]+)?" value="@p.Product.price" name="price" style="margin-bottom:20px; border: 1px dotted lightgray; width: 200px;" required /></div>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="number" value="@p.Product.quantity" name="quantity" style="font-weight: bold;" min="0" required>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <b style="display: inline-block;float:left; margin-top: -30px;">Category</b>
                                <input class="form-check-input" type="checkbox" name="category" id="flexSwitchCheckDefault" style=" position: relative; left: -150px;" onclick="showCategory()">
                                <label class="form-check-label" for="flexSwitchCheckDefault" style="position: relative; left: -140px;">Create new category</label>
                                <select class="form-select" aria-label="Default select example" style=" position: relative !important; top: -35px !important; left: 100px !important;" id="oldCategory" name="oldCategory" required>
                                    @{
                                        foreach (ProductCategory i in pc)
                                        {
                                            string select = (i.productCategoryID == p.Product.productCategoryID) ? "selected" : "";
                                            <option value="@i.productCategoryID" @select class="nice-select custom">@i.productCategoryName</option>
                                        }

                                    }
                                </select>
                                @*<br />*@
                                <input type="text" placeholder="Category" id="newCatogory" name="newCategory" style="display:none; height: 40px;width: 40%; margin-left: -320px; top: 40px; position: relative; ">
                            </li>
                            <br />
                            <br />
                            <li><b>Origin</b> <br /><input value="@p.origin" type="text" name="origin" style="font-size: 20px; margin-bottom:20px; border: 1px dotted lightgray;" required /></li>
                            <li><b>Weight</b> <br /><input value="@p.netWeight" type="number" min="0" name="netWeight" style="font-size: 20px; width: 150px; margin-bottom:20px; border: 1px dotted lightgray;" required /></li>
                            <li>
                                <b>Image</b><br />
                                <input type="file" accept="image/*" id="imageFile" name="imageFile" onchange="show(this)" value="" style="border:0px; background-color:transparent;">
                                <input type="button" class="btn btn-default" style="border-color: grey;" value="Clear file" id="clearFile">
                            </li>
                            <br />
                            <li style="margin-top: -10px;">
                                <b>Share on</b>
                                <div class="share">
                                    <a href="#" style="margin-left: -75px;"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12" style="display:inline-block; clear: both;">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Description</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                   aria-selected="false">Reviews</a>
                            </li>*@
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products ingredients</h6>
                                    <textarea name="ingredients" required style="font-size: 20px; width: 1500px; height:auto; margin-bottom:20px; border: 1px dotted lightgray;">@p.ingredients</textarea>
                                    <h6>Products Infomation</h6>
                                    <textarea name="description" required style="font-size: 20px; width: 1500px; height:250px; margin-bottom:20px; border: 1px dotted lightgray;">@p.description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="site-btn" style="width:150px; margin-left: 20px; display: inline-block;" value="Save" id="btnSubmit" />
            </form>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><input type="button" class="site-btn" style="width:150px; background-color:red; position: relative; top: -45px; left: 250px;" value="Delete" /></a>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="../../Product/Delete" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <input type="hidden" value="@p.productID" name="pid" style="margin-left: 100px;" />
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete" id="delete">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  function show(input) {
        if (input.files && input.files[0]) {
            @*var filerdr = new FileReader();*@
            @*filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }*@
            @*filerdr.readAsDataURL(input.files[0]);*@
        }
    }

     function showCategory() {
        if (document.querySelector('#flexSwitchCheckDefault:checked') !== null) {
            $('.nice-select').addClass('d-none');
            $('#newCatogory').show();
            $("#newCatogory").prop('required', true);
            @*$("#newCatogory").css("display", "block");
            document.getElementById('newCatogory').style.display = 'block';*@
        } else {
            $('.nice-select').removeClass('d-none');
            $('#newCatogory').hide();
            $("#newCatogory").prop('required', false);
            @*$("#newCatogory").css("display", "none");
            document.getElementById('newCatogory').style.display = 'none';*@
        }
    }

    document.querySelector('#clearFile').onclick = function () {
        $('#imageFile').val('');
    }

</script>